//
   Created by whyask37 on 2016. 11. 16..

extends ../layout/layout

block content
    // Page Content
    .container
        block articleList
            .col-xs-4
                div#editor
                    | /**
                    |  * Calculate article score
                    |  *
                    |  * @param lcr - logClusterRatio
                    |  * @param tcr - totalClusterRatio
                    |  * @param rank - rank
                    |  * @returns {Number} - Article score
                    |  */
                    | return (1 + 4 * lcr) / (1 + 1.5 * tcr);
                script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js')
                script.
                    var editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");
                    editor.getSession().setMode("ace/mode/javascript");


                    editor.getSession().on('change', function (e) {
                        try {
                            var funcBody = editor.getValue();
                            var f = new Function(['lcr', 'tcr', 'rank'], funcBody);
                            var $aList = $('#aList');

                            var $rows = $aList.find('tbody > tr').get();
                            $.each($rows, function(i) {
                                var $this = $(this);
                                var lcr = Number($this.find('.lcr').val());
                                var tcr = Number($this.find('.tcr').val());
                                var rank = Number($this.find('td.rank').text());
                                $this.find('td.cs').text(f(lcr, tcr, rank));
                            });
                            $rows.sort(function (a, b) {
                                var acs = Number($(a).find('td.cs').text());
                                var bcs = Number($(b).find('td.cs').text());
                                if(acs == bcs) {
                                    var ai = Number($(a).find('td.input').text());
                                    var bi = Number($(b).find('td.input').text());
                                    return ai - bi;
                                }
                                else return bcs - acs;
                            });
                            $.each($rows, function() {
                                var $this = $(this);
                                var cs = Number($this.find('.cs').text());
                                $this.find('.cs').text(cs.toFixed(3));
                            })
                            $.each($rows, function(i, row) {
                                $aList.children('tbody').append(row);
                            })

                        }
                        catch (e) {
                            console.log(e);
                        }
                    });

            .col-xs-8
                table#aList.table.table-bordered.table-striped.table-condensed
                    thead
                        tr
                            th 제목
                            th 시간
                            th 카테고리
                            // th 클러스터
                            th lCR
                            th tCR
                            th r
                            th score
                    tbody
                        each article, i in articles
                            tr
                                td
                                    a(href='/articles/#{encodeURIComponent(article._id)}', title=article.title)
                                        img.providerIcon(src='/images/providerIcons/#{article.provider}.ico')
                                        | #{article.shortTitle}
                                    input.idx(type='hidden', value=i)
                                td= formatDate(article.publishedAt)
                                td #{article.cate} (#{article.categoryPercentage}%)
                                // td #{article.cluster} (#{article.clusterPercentage}%)
                                td
                                    | #{article.logClusterRatio}
                                    input.lcr(type='hidden', value=article.lcr)
                                td
                                    | #{article.totalClusterRatio}
                                    input.tcr(type='hidden', value=article.tcr)
                                td.rank= article.rank
                                td.cs= article.clusterScore.toFixed(3)

    script.
        $('table').floatThead();
