//
   Created by whyask37 on 2016. 11. 11..

mixin articleList_Tiled(title, articles)
    .list-article-tiled
        .row
            .col-lg-12
                h2= title

        // Page Features
        ul.list-unstyled
            .row.text-center
                each article in articles
                    li.col-md-3.col-xs-6.hero-feature
                        .thumbnail
                            a(href='/articles/#{encodeURIComponent(article.article_id)}')
                                .ratio-4to3
                                    if(article.imageURL)
                                        .img-wrapper(style='background-image: url(#{article.imageURL});')
                                    else
                                        .img-wrapper(style='background-image: url(http://placehold.it/800x500);')
                                .caption
                                    p
                                        img.providerIcon(src='/images/providerIcons/#{article.provider}.ico')
                                        | #{article.title}
                            p.time
                                span.glyphicon.glyphicon-time
                                | #{formatDate(article.publishedAt)}

mixin articleList_List(title, articles)
    .list-article-list
        .row
            .col-lg-12
                h2= title

        ul.list-unstyled
            each article in articles
                li
                    a(href='/articles/#{encodeURIComponent(article.article_id)}')
                        .caption
                            p
                                img.providerIcon(src='/images/providerIcons/#{article.provider}.ico')
                                | #{article.title}
                                span.time.pull-right
                                    span.glyphicon.glyphicon-time
                                    | #{formatDate(article.publishedAt)}

mixin articleList_List_Admin(title, articles)
    .list-article-list
        .row
            .col-lg-12
                h2= title

        ul.list-unstyled
            each article in articles
                li
                    a(href='/articles/#{encodeURIComponent(article.article_id)}')
                        .caption
                            p
                                img.providerIcon(src='/images/providerIcons/#{article.provider}.ico')
                                | #{article.title}
                                span.time.pull-right
                                    span.glyphicon.glyphicon-time
                                    | #{formatDate(article.publishedAt)}
                            p.col-xs-offset-1
                                | #{article.cate} (#{article.categoryPercentage}%)
                                | #{article.cluster} (#{article.clusterPercentage}%)
