//
   Created by Junyoung on 2016-09-17.

extends layout/layout

block content
    script(type='text/javascript', src='/javascripts/articleLogger.js')


    // Page Content
    .container
        // Blog Post
        // Title
        .news-body
            input(type="hidden", id='articleID', value=article.id)
            input(type="hidden", id='viewToken', value=viewToken)

            h1 #{article.title}

            // Link to original news
            a(href='#{article.sourceURL}', target='_blank') [언론사에서 보기]

            // Date/Time
            span.pull-right
                span.glyphicon.glyphicon-time
                |  Posted on #{formatDate(article.publishedAt)}
            hr
            // Preview Image
            if(article.imageURL)
                img.img-responsive.center-block(src='#{article.imageURL}', alt='')
                hr
            // Post Content
            p.lead!= htmlEscapeMultilineText(article.content)

            hr

        block relatedArticles
            +articleList_List(articleList.title, articleList.articles)
