//
   Created by phu54 on 2016-10-30.

extends layout

block content
    .container
        // 로그 그래프
        .row
            .col-xs-6.col-xs-offset-3
                .ct-chart.ct-perfect-fourth
                    script.
                        graphFrequencies(!{JSON.stringify(logdataGraph)})

        // 로그 리스트
        .row
            table.table.table-bordered.table-striped.table-condensed
                thead
                    tr
                        th= '시간'
                        th= '제목'
                        th= '카테고리'
                tbody
                    each log in logs
                        tr
                            td= log.startedAt
                            td
                                a(href=log.article.url)=log.article.title
                            td= log.cate