//
   Created by phu54 on 2016-10-30.

extends layout/layout

block content
    .container
        h1 유저 프로필
        // 로그 그래프
        div
            .ct-category-chart
                h3 카테고리 분포
                script.
                    graphFrequencies('.ct-category-chart', !{JSON.stringify(categoryFrequencyData)})

            .ct-cluster-chart
                h3 클러스터 분포
                script.
                    graphFrequencies('.ct-cluster-chart', !{JSON.stringify(clusterFrequencyData)})

        // 괸심 뉴스들
        block userLikes
            if articleList
                +articleList_Tiled(articleList.title, articleList.articles)

        // 로그 리스트
        div
            table.table.table-bordered.table-striped.table-condensed
                thead
                    tr
                        th= '시간'
                        th= '제목'
                        th= '카테고리'
                        th= '클러스터'
                tbody
                    each log in logs
                        tr
                            td= formatDate(log.startedAt)
                            td
                                a(href='/articles/#{encodeURIComponent(log.article.article_id)}')=log.article.title
                            td= log.article.cate
                            td= log.article.cluster
